@tailwind base;
@tailwind components;
@tailwind utilities;


@layer components {
    .projects-images {
        @apply relative flex overflow-hidden top-20 shadow-2xl rounded-xl z-50 w-72 h-72
        sm:w-80 sm:h-80
        md:top-40 
        lg:w-96 lg:h-96

    }
    .photo {
        @apply absolute  h-screen overflow-hidden
        w-72
        sm:w-80
        lg:w-96
    }
    .projects-items {
        @apply text-gray-100 w-screen z-40
      md:w-1/2 
    }
    .projects-itm {
        @apply h-screen w-screen  text-center p-5
        sm:p-10
        md:w-full  md:text-left md:pt-40
        lg:pt-40 lg:px-20
    }
    .projects-itm-title {
        @apply text-3xl  font-oswald font-bold
        sm:text-5xl
    }
    .projects-itm-text {
        @apply font-montserrat text-base  mt-2 sm:mt-10
        lg:text-xl
    }
}

.model {
    padding: 20px;
    width: 80%;
    height: 80vh;
    position: fixed;
    top: 10%;
    left: 10%;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #030712;
    transition: opacity .4s ease, visibility .4s ease, transform .5s ease-in-out;
    visibility: hidden;
    opacity: 0;
    transform: scale(0);
    overflow: hidden;
    z-index: 999 !important;
}

.model.open{
    visibility: visible;
    opacity: 1;
    transform: scale(1);
}

.model i{
    position: fixed;
    top: 10px;
    right: 10px;
    font-size: 4rem;
    height: 2rem;
    padding: 5px;
    transition: all .5s;
    cursor: pointer;
}

.model img{
    width: auto;
    max-width: 100%;
    height: auto;
    max-height: 100%;
    display: block;
    line-height: 0;
    box-sizing: border-box;
    padding: 20px 0 20px;
    margin: 0 auto;
}



@media (max-width:768px) {
    .details {
    padding-top: 24rem;
    }
}

























