

.model {
    padding: 20px;
    width: 80%;
    height: 80vh;
    position: fixed;
    top: 10%;
    left: 10%;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #030712;
    transition: opacity .4s ease, visibility .4s ease, transform .5s ease-in-out;
    visibility: hidden;
    opacity: 0;
    transform: scale(0);
    overflow: hidden;
    z-index: 999 !important;
}

.model.open{
    visibility: visible;
    opacity: 1;
    transform: scale(1);
}

.model i{
    position: fixed;
    top: 10px;
    right: 10px;
    font-size: 4rem;
    height: 2rem;
    padding: 5px;
    transition: all .5s;
    cursor: pointer;
}

.model img{
    width: auto;
    max-width: 100%;
    height: auto;
    max-height: 100%;
    display: block;
    line-height: 0;
    box-sizing: border-box;
    padding: 20px 0 20px;
    margin: 0 auto;
}




.details {
    padding-top: 32rem;
}




















