@tailwind base;
@tailwind components;
@tailwind utilities;

@layer components {
  .about-container {
    @apply relative h-full gap-3 flex-col flex w-full justify-between
    lg:flex-row 
  }
  .about-title {
    @apply font-medium font-oswald  text-transparent bg-gradient-to-l bg-clip-text from-cyan-500 via-cyan-500 to-sky-600 tracking-widest uppercase leading-relaxed
    text-5xl 
    sm:text-7xl
    md:text-6xl 
    lg:text-7xl
    xl:text-8xl;
  }
  .about-info {
    @apply pt-10 text-white font-montserrat text-lg w-full font-normal tracking-widest leading-relaxed
    sm:text-xl
    md:text-2xl 
    lg:w-3/5;
  }
}

