@tailwind base;
@tailwind components;
@tailwind utilities;

#country {
  display: flex;
  overflow-x: hidden; /* Разрешить горизонтальную прокрутку */
  position: relative; /* Обеспечить закрепление секции при прокрутке */
  width: 100vw;
}

.scroll-section-outer {
  overflow: hidden;
}

.scroll-section-inner {
  height: 100vh;
  width: 400vw;
  display: flex;
  flex-direction: row;
  position: relative;
}

.scroll-section {
  height: 100vh;
  width: 100vw;
  display: flex;
  align-items: center;
}

.scroll-section img {
  filter: drop-shadow(3px 3px 3px rgba(255, 255, 255, 0.2));
}

.country-name {
  line-height: 100%;
  overflow-wrap: break-word;
  background-clip: text;
  -webkit-text-fill-color: transparent;
  -webkit-text-stroke-width: 2px;
}

@layer components {
  .country-container {
    @apply 
    relative flex p-5
    sm:p-20
    flex-col justify-start  overflow-hidden
    md:flex-row md:justify-center;
  }
  .country-title {
    @apply  w-full country-name text-gray-400 font-oswald font-bold absolute 
        left-5 bottom-10 text-6xl 
        sm:px-10
        sm:left-20 sm:text-8xl
        lg:text-extralarge ;
  }
  .country-info {
    @apply  text-white 
    sm:w-3/4 
    mt-14 sm:mt-0
      px-0 sm:px-5 text-base
      md:text-2xl md:p-20
      mb-5 lg:mb-40;
  }
  .country-img {
    @apply 
    h-full
    p-5 
    lg:p-10
         
  }
}
